@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
    background-color: #FAFAFA;
}

/* Affinement de la barre de navigation (scrollbar) à droite */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #E5E7EB;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #D1D5DB;
}

/* Pour Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #E5E7EB transparent;
}